:root {
  --bright-orange: #e38826;
  --dark-cyan: #006971;
  --very-dark-cyan: #004140;
  --very-light-gray: #f2f2f2;
  --transparent-white: rgba(255, 255, 255, 0.75);
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: var(--very-light-gray);

  /* Centralize */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 920px;
  height: 500px;
}

.grid-item {
  padding: 48px;
}

.grid .grid-item:first-child {
  background-color: var(--bright-orange);
  border-radius: 8px 0 0 8px;
}

.grid .grid-item:nth-child(2) {
  background-color: var(--dark-cyan);
}

.grid .grid-item:last-child {
  background-color: var(--very-dark-cyan);
  border-radius: 0 8px 8px 0;
}

.image-container {
  margin-bottom: 35px;
}

img {
  display: block;
  max-width: 100%;
}

.title {
  font: 700 2.5rem 'Big Shoulders';
  color: var(--very-light-gray);
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.text {
  font: 400 0.9375rem/1.67 'Lexend Deca';
  color: var(--transparent-white);
  margin-bottom: 83px;
}

.btn:link {
  display: inline-block;
  text-decoration: none;
  background-color: var(--very-light-gray);
  font: 400 0.9375rem/1.67 'Lexend Deca';
  padding: 12px 32px;
  border-radius: 25px;
  border: 2px solid transparent;
}

.btn-1:link {
  color: var(--bright-orange);
}

.btn-2:link {
  color: var(--dark-cyan);
}

.btn-3:link {
  color: var(--very-dark-cyan);
}

.btn:hover {
  border-color: var(--white);
  color: var(--white);
}

.btn-1:hover {
  background-color: var(--bright-orange);
}

.btn-2:hover {
  background-color: var(--dark-cyan);
}

.btn-3:hover {
  background-color: var(--very-dark-cyan);
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    width: 327px;
    height: 1326px;
  }

  .text {
    margin-bottom: 25px;
  }

  .grid .grid-item:first-child {
    border-radius: 8px 8px 0 0;
  }

  .grid .grid-item:last-child {
    border-radius: 0 0 8px 8px;
  }
}
