* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #684bb1 url('../images/bg-desktop.svg') no-repeat;
  padding: 55px 85px 0 80px;
  background-size: cover;
}

.header {
  margin-bottom: 104px;
}

.header a {
  display: inline-block;
  width: 200px;
  height: 40px;
}

.main {
  display: flex;
  gap: 59px;
}

.main-image-container {
  width: 696px;
  height: 493px;
}

.main-content {
  padding-top: 32px;
}

.main-content h1 {
  font: 600 2.5rem/1.5 'Poppins';
  letter-spacing: 0;
  color: #ffffff;
  max-width: 487px;
  margin-bottom: 24px;
}

.main-content p {
  font: 400 1.125rem/1.5 'Open Sans';
  letter-spacing: 0;
  color: #ffffff;
  max-width: 520px;
  margin-bottom: 24px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font: 400 1.125rem/1.5 'Poppins';
  letter-spacing: 0;
  color: #684bb1;
  background-color: #ffffff;
  padding: 16px 64px;
  border-radius: 28px;
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: #e880e8;
  color: #ffffff;
}

.social-links {
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.social-links a:hover path,
.social-links a:active path {
  fill: #ff52c1;
}
