@font-face {
  font-family: 'Outfit';
  src: url(../../fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400 600;
}

@font-face {
  font-family: 'Young';
  src: url(../../fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

.text-p1 {
  font: 400 2.5rem/1 'Young';
  letter-spacing: 0px;
}

.text-p2 {
  font: 400 1.75rem/1 'Young';
  letter-spacing: 0px;
}

.text-p3 {
  font: 600 1.25rem/1 'Outfit';
  letter-spacing: 0px;
}

.text-p4,
.text-p4-b {
  font: 400 1rem/1.5 'Outfit';
  letter-spacing: 0px;
}

.text-p4-b {
  font-weight: 700;
}

@media (max-width: 400px) {
  .text-p1 {
    font: 400 2.25rem/1 'Young';
    letter-spacing: 0px;
  }
}
