@font-face {
  font-family: 'Figtree';
  src: url(../fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Figtree';
  src: url(../fonts/Figtree-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d04e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Figtree';
}

article {
  background-color: #ffffff;
  max-width: 100%;
  width: 24rem;
  padding: 24px;
  border: 1px solid #111111;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.illustration {
  border-radius: 10px;
  margin-bottom: 24px;
  display: block;
  max-width: 100%;
}

.text-description {
  /* Most of these properties will be inherited */
  line-height: 150%;
  letter-spacing: 0;
  color: #111111;
  margin-bottom: 24px;
}

.tag {
  background-color: #f4d04e;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  padding: 4px 12px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.publication-date {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
}

.course-link:link,
.course-link:visited {
  color: #111111;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 12px;
}

.course-link:hover,
.course-link:active {
  color: #f4d04e;
}

.course-description {
  color: #6b6b6b;
  font-size: 16px;
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-image {
  width: 32px;
}

.author-name {
  color: #111111;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 800;
}

/* MOBILE */
@media (max-width: 450px) {
  article {
    width: 20.4375rem;
  }

  .tag,
  .publication-date {
    font-size: 12px;
  }

  .course-link:link,
  .course-link:visited {
    font-size: 20px;
  }

  .course-description {
    font-size: 14px;
  }
}
