:root {
  /* Colors */
  --white: #ffffff;
  --cream: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine: #3d8168;
  --deep-aquamarine-hover: #1a4032;
  --gunmetal: #1c232b;

  /* Weights */
  --medium: 500;
  --bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);

  /* Centralize */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 37.5rem;
  height: 28.125rem;
  border-radius: 10px;
  background-color: var(--white);

  display: flex;
}

.img-parfum-container {
  width: 21.875rem;
  height: 28.125rem;
}

.img-parfum {
  display: block;
  max-height: 100%;
  border-radius: 10px 0 0 10px;
}

.card-info {
  padding: 32px;
}

.overline {
  color: var(--aurometal-saurus);
  display: block;
  font-family: 'Montserrat';
  font-size: 0.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: var(--medium);
}

.product-name,
.actual-price {
  color: var(--gunmetal);
  font-family: 'Fraunces';
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 24px;
}

.product-description {
  color: var(--aurometal-saurus);
  font-family: 'Montserrat';
  font-size: 0.875rem;
  line-height: 1.4375rem;
  font-weight: var(--medium);
  margin-bottom: 29px;
}

.price-container {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  gap: 19px;
}

.actual-price {
  color: var(--deep-aquamarine);
  margin-bottom: 0;
  font-weight: var(--bold);
}

.previous-price {
  color: var(--aurometal-saurus);
  font-family: 'Montserrat';
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  font-weight: var(--medium);
  text-decoration: line-through;
}

.add-cart-btn {
  width: 14.75rem;
  height: 3rem;
  background-color: var(--deep-aquamarine);
  padding: 15px 62px;
  border: none;
  border-radius: 8px;

  font-family: 'Montserrat';
  font-size: 0.875rem;
  font-weight: var(--bold);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11.61px;

  cursor: pointer;
  transition: background-color 0.3s;
}

.add-cart-btn:hover,
.add-cart-btn:active {
  background-color: var(--deep-aquamarine-hover);
}

.cart-icon {
  height: 1rem;
}

@media (max-width: 650px) {
  .container {
    width: 21.4375rem;
    height: 38.1875rem;
    flex-direction: column;
  }

  .img-parfum-container {
    width: 21.4375rem;
    height: 15rem;
  }

  .img-parfum {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
  }

  .card-info {
    padding: 24px;
  }

  .overline {
    margin-bottom: 12px;
  }

  .product-name {
    margin-bottom: 16px;
  }

  .product-description {
    margin-bottom: 24px;
  }

  .price-container {
    margin-bottom: 20px;
  }

  .add-cart-btn {
    width: 100%;
    padding: 15px 92px;
  }
}
