:root {
  /* Colors */
  --dark-cyan: #19a2ae;
  --desatured-blue: #2e3349;
  --grayish-blue: #6b7082;
  --ligth-gray: #e8e9ec;

  /* Weights */
  --regular: 400;
  --bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans';
  color: var(--desatured-blue);
  font-size: 1.125rem;
  font-weight: var(--bold);
  background: url(../images/bg-pattern-top.svg) no-repeat top 200% left -45%,
    url(../images/bg-pattern-bottom.svg) no-repeat bottom 250% right -35%,
    var(--dark-cyan);

  /* Centralize main container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background: url('../images/bg-pattern-card.svg') no-repeat, #fff;
  border-radius: 0.9375rem;
  width: 21.875rem;
  height: 23.375rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 50px 100px -20px rgba(8, 70, 94, 0.5);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 6rem;
  height: 6rem;
}

.img-container img {
  display: block;
  width: 100%;
  outline: 5px solid #fff;
  border-radius: 50%;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 1.125rem;
}

.user-info h1 {
  font-size: 1.125rem;
}

.user-info p {
  color: var(--grayish-blue);
  font-weight: var(--regular);
}

.user-city {
  font-size: 0.875rem;
  font-weight: var(--regular);
  color: var(--grayish-blue);
  margin-top: 0.5rem;
  text-align: center;
}

.user-city::after {
  content: '';
  display: block;
  width: 21.875rem;
  height: 1px;
  margin-top: 1.75rem;
  background-color: var(--ligth-gray);
}

.user-stats {
  display: flex;
  gap: 2.875rem;
  margin: 1.5rem 0;
}

.user-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5625rem;
}

.user-stat h2 {
  font-size: 1.125rem;
}

.user-stat p {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  font-weight: var(--regular);
  color: var(--grayish-blue);
}

@media (max-width: 500px) {
  body {
    background: url(../images/bg-pattern-top.svg) no-repeat top 200% left 125%,
      url(../images/bg-pattern-bottom.svg) no-repeat bottom 200% right 125%,
      var(--dark-cyan);
  }

  .container {
    width: 20.375rem;
    height: 23.375rem;
  }

  .user-city::after {
    width: 20.375rem;
  }
}
