:root {
  /* Weights */
  --medium: 500;
  --bold: 700;
  --black: 900;

  /* Colors */
  --white: #ffffff;
  --light-purple: #766cf1;
  --light-blue: #f7f9ff;
  --light-blue-2: #717fa6;
  --medium-blue: #382ae1;
  --dark-blue: #1f2e55;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/pattern-background-desktop.svg) no-repeat top,
    #e0e8ff;
  background-size: contain;

  font-family: 'Red Hat Display';

  /* Centralize */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 28.125rem;
  height: 43.5625rem;
  background-color: var(--white);
  box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.153);
  border-radius: 20px;
}

.img-container {
  width: 28.125rem;
  height: 13.75rem;
}

.img-container img {
  display: block;
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.plan-container {
  padding: 45px 48px 48px 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-container-title {
  color: var(--dark-blue);
  font-size: 1.75rem;
  font-weight: var(--black);
  margin-bottom: 1.0625rem;
}

.plan-container-description {
  color: var(--light-blue-2);
  font-weight: var(--medium);
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 20px;
  text-align: center;
}

.choosen-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22.125rem;
  height: 6.125rem;
  background-color: var(--light-blue);
  padding: 25px 24px;
  border-radius: 11px;
  margin-bottom: 32px;
}

.choosen-plan-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.choosen-plan-info::before {
  display: block;
  content: '';
  background: url('../images/icon-music.svg');
  width: 3rem;
  height: 3rem;
}

.choosen-plan-info h2 {
  font-size: 1rem;
  font-weight: var(--black);
  margin-bottom: 0.375rem;
  color: var(--dark-blue);
}

.choosen-plan-info p {
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--light-blue-2);
}

.change-plan-link:link,
.change-plan-link:visited {
  font-size: 0.875rem;
  font-weight: var(--bold);
  color: var(--medium-blue);
}

.change-plan-link:hover,
.change-plan-link:active {
  text-decoration: none;
  color: var(--light-purple);
}

.confirm-btn {
  display: block;
  width: 100%;
  padding: 15px 102px;
  margin-bottom: 32px;
  border: none;

  font-family: 'Red Hat Display';
  font-size: 0.9375rem;
  font-weight: var(--black);
  cursor: pointer;

  background-color: var(--medium-blue);
  color: var(--white);
  border-radius: 11px;
  box-shadow: 0 20px 20px 0 rgba(56, 42, 255, 0.1903);
}

.confirm-btn:hover,
.confirm-btn:active {
  background-color: var(--light-purple);
}

.cancel-order-link:link,
.cancel-order-link:visited {
  font-size: 0.9375rem;
  font-weight: var(--black);
  color: var(--light-blue-2);
  text-decoration: none;
}

.cancel-order-link:hover,
.cancel-order-link:active {
  color: var(--dark-blue);
}

@media (max-width: 500px) {
  body {
    background: url(../images/pattern-background-mobile.svg) no-repeat top,
      #e0e8ff;
  }

  .container {
    width: 20.4375rem;
    height: 35.4375rem;
  }

  .img-container {
    width: 20.4375rem;
    height: 10rem;
  }

  .plan-container {
    padding: 32px;
  }

  .plan-container-title {
    font-size: 1.375rem;
    margin-bottom: 16px;
  }

  .plan-container-description {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 24px;
  }

  .choosen-plan {
    width: 17.4375rem;
    height: 5.0625rem;
    padding: 17px 16px 16px 16px;
    margin-bottom: 24px;
  }

  .choosen-plan-info h2 {
    font-size: 0.875rem;
    margin-bottom: 0.1875rem;
  }

  .choosen-plan-info p {
    font-size: 0.875rem;
  }

  .change-plan-link:link,
  .change-plan-link:visited {
    font-size: 0.8125rem;
  }

  .confirm-btn {
    width: 17.4375rem;
    padding: 15px 65px 15px 64px;
    margin-bottom: 24px;
    font-size: 0.9375rem;
  }
}
