@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

:root {
  --Grey-900: #141414;
  --Grey-800: #1f1f1f;
  --Grey-700: #333333;
  --Green: #c4f82a;
  --White: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Grey-900);
  color: var(--White);
  font-family: 'Inter';

  /* Centralize card */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--Grey-800);
  width: 24rem;
  padding: 2.5rem;
  border-radius: 0.75rem;

  /* Centralize card content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.img-container {
  width: 5.5rem;
}

.img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

.location {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--Green);
}

.description {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

nav {
  align-self: stretch;
  /* text-align: center; */
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

li a:link,
li a:visited {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75rem 0;
  background-color: var(--Grey-700);
  height: 45px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a:hover,
li a:active {
  color: var(--Grey-900);
  background-color: var(--Green);
  cursor: url(../images/handcursor.svg), auto;
}

/* TABLET */
@media (max-width: 800px) {
  main {
    width: 31.25rem;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  main {
    width: 20.4375rem;
  }
}
