@import url('./general/global.css');
@import url('./general/colors.css');
@import url('./general/typography.css');

body {
  background-color: var(--stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: block;
  width: 656px;
  height: 300px;
  margin-bottom: 40px;
}

main {
  background-color: var(--white);
  width: 736px;
  height: 1700px;
  padding: 40px;
  border-radius: 24px;
}

.header-main {
  margin-bottom: 32px;
}

.header-main h1 {
  margin-bottom: 24px;
}

.preparation {
  background-color: var(--rose-50);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 32px;
}

.preparation h2 {
  margin-bottom: 16px;
}

.preparation ul,
.ingredients ul,
.instructions ol {
  padding-left: 24px;
}

.preparation ul li,
.ingredients ul li,
.instructions ol li {
  padding-left: 16px;
  margin-bottom: 8px;
}

.preparation ul li:last-child,
.ingredients ul li:last-child,
.instructions ol li:last-child {
  margin-bottom: 0;
}

.preparation ul li::marker {
  font-size: 0.75rem;
  color: var(--rose-800);
}

.ingredients {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--stone-150);
}

.ingredients h2,
.instructions h2,
.nutritional h2 {
  margin-bottom: 24px;
}

.ingredients ul {
  padding-left: 24px;
}

.ingredients ul li::marker {
  font-size: 0.75rem;
  color: var(--brown-800);
}

.instructions {
  padding: 32px 0;
  border-bottom: 1px solid var(--stone-150);
}

.instructions li::marker {
  font: 700 1rem/1.5 'Outfit';
  letter-spacing: 0px;
  color: var(--brown-800);
}

.nutritional {
  padding-top: 32px;
}

.nutritional p {
  margin-bottom: 24px;
}

.nutritional table {
  width: 656px;
  height: 168px;
}

.nutritional table tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 16px;
  padding: 12px 32px;
  border-bottom: 1px solid var(--stone-150);
}

.nutritional table tr:first-child {
  padding-top: 0;
}

.nutritional table tr:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media (max-width: 800px) {
  main {
    width: 616px;
    height: 1844px;
  }

  .img-container {
    width: 536px;
    height: 300px;
  }

  .nutritional table {
    width: 536px;
    height: 168px;
  }
}
