.button:link,
.button:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  padding: 16px 40px;
  border-radius: 29px;
  transition: background-color 0.3s;
}

.button-blue:link,
.button-blue:visited {
  background-color: var(--cyan-600);
}

.button-blue:hover,
.button-blue:active {
  background-color: var(--cyan-300);
}

.button-purple:link,
.button-purple:visited {
  background-color: var(--purple-600);
}

.button-purple:hover,
.button-purple:active {
  background-color: var(--purple-300);
}
