body {
  background-color: var(--white);
}

.hero-bg {
  height: 488px;
  background: url('../assets/desktop/image-hero-left.png') no-repeat top 64px
      left -26px,
    url('../assets/desktop/image-hero-right.png') no-repeat bottom 64px right -26px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 44.8rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
}
